##############################################################################
#
# Example OCC Autotest Extension File
#
# Purpose of these scripts are to extend the OCC Autotest without making 
# one gigantic script.  
#
# RULES
# -------------------------------------
# These scripts will only execute if they are specified on the cli, and if they
# are marked execuable (chmod a+x) 
#
# If a directory is specified on the cli, the scripts in that directory will be 
# run in the order that occurs during `find . -xtype f -perm -001 | sort`
#
# This file is run as a bash script, so you can do anything that bash can do.  
# That includes calling external programs, file operations, sleep, echo, etc.
#
# Anything that you can do in the autotest you *could* do here, but to keep it 
# simple, here are some thing that are most useful, and probably what you should
# stick to.
#
# Variables Available:
#    $sb:          All Sandbox / Environment variable are available
#    $MACHINE:     Machine Type Simics is simulating
#    $ENABLE_VPM:  Did caller request VPM to start
#
# Functions Available:
#    Send a simics command
#        simicsCmd    "command" 
#
#    Send a fsp command (once FSP is up...)
#        fspCmd "command" : 
#
#    Run a test applet
#        runTestApplet "path/to/applet"
#
#    Send OCC a command from the FSP (fake out FSP if it's not there)
#        simicsFspToOccCmd "command" [data] [datafile]
#            Example:  simicsFspToOccCmd "00" "01"  # Send a Poll Command
#
# Happy Scripting!
#
##############################################################################


